h1, h2
{
    font-family: 'droid_sansregular', 'Arial', sans-serif;
}

h1, h1 + p
{
    text-align: center;
   
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    height: 150px;
    
    margin-bottom: auto;
}

h2
{
    color: #6E4A46;
    text-decoration: underline;
}
.galionue
{
    text-decoration: underline;
    opacity: 0;
}